# Files, Folders, security keys, and Binaries to ignore

*~
*.vdi
*.box
.vagrant/
*console.log
packer-cache/
packer_cache/
*.pem
*.ova
output*/
vagrant.d/
*.iso
variables.pkr.hcl
*.priv
.DS_Store
id_rsa
id_rsa*
id_rsa.pub
.Vagrantfile*

# Code Folder
*/node_modules/

# Build Folder
*/project/
*/project/Vagrantfile/
id_*
*/unused/