<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Coffeegram | Menu</title>
</head>
<body>
    <header role="navigation" style="display: flow-root;">
        <a href="/" class="logo">
            <img src="/static/images/logo.png" alt="Coffeegram Logo">
        </a>
        <nav role="navigation-bar" class="main-menu">
            <ul class="navigation-options">
                <li><a href="/">Home</a></li>
                <li><a href="/menu">Menu</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>